/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

body { font: .76em arial; margin:1em; }
td, th {border:1px solid silver; padding:.2em}
table {border-collapse:collapse}
tr:nth-child(odd) { background-color: #e2f7f7;}
dl {margin: 0;	padding: 0;}
dt {margin: 0;  padding: 0;	font-weight: bold;}
dd {margin: 0 0 1em 0;	padding: 0;}

a img {	padding:3px; border:solid; border-color: #dddddd #aaaaaa #aaaaaa #dddddd; border-width: 1px 2px 2px 1px;background-color:white; }
#photobook a { text-decoration: none; width:100%; }
#photobook a span { text-align:left; }
#photobook p { margin:0; text-align:center}
#photobook dl {	display:none }
#photobook div { float:left; margin:.2em; }
#credits { position:absolute; top:2em; right:15em }
